# --- General ---
.DS_Store
Thumbs.db
.env
.env.local

# --- Backend (Java/Spring) ---
backend/target/
backend/*.jar
backend/*.war
backend/.mvn/wrapper/maven-wrapper.jar
backend/.idea/
backend/*.iml

# --- Frontend (Angular/Node) ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.idea/
frontend/*.iml
frontend/npm-debug.log*
frontend/yarn-error.log*
frontend/.editorconfig

# --- IDEs (JetBrains) ---
.idea/
*.iml
*.iws
*.ipr
out/
.shelf/